body {
	margin-left: 30px;
	display: inline-block;
	width: 100%;
}

.content {
	opacity: 0;
	transition: opacity 1s ease-in;
}

.loaded {
	opacity: 1;
}

.header {
	color: black;
	padding-left: 40px;
}

.input-group-addon {
	width: 100px;
}

.input-group .form-control {
	margin-right: 200px;
}

table .rating {
	padding-bottom: 15px;
}

.rating-container {
	//float: left;
	margin-left: 20px;
	margin-top: 3px;
}

#checkboxAdd {
	margin-left: 20px;
	margin-top: 7px;
}

.addButton {
	margin-left: 250px;
	margin-top: 20px;
}

.table {
	margin-left: 15px;
	margin-top: 10px;
}

th {
	padding-bottom: 10px;
}

#ratingHeader {
	padding-left: 30px;
}

.panel-heading span {
	float: left;
	margin-right: 50px;
	font-size: 150%;
}

#searchField {
	width: 50%;
	float: left;
}