html
	head
		script(type="text/javascript", src="./app/lib/angular/angular.js")
		link(rel="stylesheet", href="./app/lib/bootstrap-css/css/bootstrap.css")
		title Movie Collection
	body
		div.myMovieContainer